.wrapper{
    color: #777777;
    padding: 0px 0 0;
    .cps-container{
        background-color: #333333;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        .footer-top{
            display: flex;
            flex-wrap: wrap;
            padding: 1rem 0;
            width: var(--default-layout-width);
            justify-content: space-between;
            .footer-name,
            .footer-about,
            .footer-policy,
            .footer-introduce{
                font-size: 1.2rem;
                font-weight: bold;
                h2{
                    padding-bottom: 10px;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #ffffff;
                }
                ul {
                    list-style: none;
                    li {
                        line-height: 26px;
                    }
                }
                p {
                    line-height: 26px;
                }
                a {
                    
                    .footer-color {
                        color:#777777;
                        margin: 0;
                        
                        
                    }
                    .footer-color:hover {
                        color: #ffba00;
            
                    }
                }
            }
            
        }
    }
    .footer-bot {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #111111;
        height: 50px;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}